In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')

In [68]:
data=pd.read_csv('zomato.csv',encoding='latin-1')
data.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [70]:
#drops rows with null value
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9542 non-null int64
Restaurant Name         9542 non-null object
Country Code            9542 non-null int64
City                    9542 non-null object
Address                 9542 non-null object
Locality                9542 non-null object
Locality Verbose        9542 non-null object
Longitude               9542 non-null float64
Latitude                9542 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9542 non-null int64
Currency                9542 non-null object
Has Table booking       9542 non-null object
Has Online delivery     9542 non-null object
Is delivering now       9542 non-null object
Switch to order menu    9542 non-null object
Price range             9542 non-null int64
Aggregate rating        9542 non-null float64
Rating color            9542 non-null object
Rating text             9542 non-null object
Votes                   9542 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.6+ MB

In [71]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day          83
Domino's Pizza           79
Subway                   63
Green Chick Chop         51
McDonald's               48
                         ..
Chicken Chilli Corner     1
Karachi Bakery            1
HotMess Bakes             1
Grill Zone                1
Anjali Resaturant         1
Name: Restaurant Name, Length: 7437, dtype: int64

In [72]:
data.drop(columns=['Restaurant ID','Is delivering now','Switch to order menu'], inplace=True)

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 18 columns):
Restaurant Name         9542 non-null object
Country Code            9542 non-null int64
City                    9542 non-null object
Address                 9542 non-null object
Locality                9542 non-null object
Locality Verbose        9542 non-null object
Longitude               9542 non-null float64
Latitude                9542 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9542 non-null int64
Currency                9542 non-null object
Has Table booking       9542 non-null object
Has Online delivery     9542 non-null object
Price range             9542 non-null int64
Aggregate rating        9542 non-null float64
Rating color            9542 non-null object
Rating text             9542 non-null object
Votes                   9542 non-null int64
dtypes: float64(3), int64(4), object(11)
memory usage: 1.4+ MB

In [74]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [75]:
data['Country Code'].nunique()

15

In [76]:
data['Country Code'].value_counts()

1      8652
216     425
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [77]:
#data[data['City']=='Kolkata' & data['Locality']=='Sector 5, Salt Lake']

In [78]:
data=data[data['Country Code']==1]
data.shape

(8652, 18)

In [79]:
data.drop(columns=['Restaurant Name','Country Code','Currency'],inplace=True)

In [80]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Guwahati          21
Amritsar          21
Ahmedabad         21
Bhubaneshwar      21
Lucknow           21
Mysore            20
Coimbatore        20
Surat             20
Jaipur            20
Bhopal            20
Pune              20
Kolkata           20
Ranchi            20
Kochi             20
Dehradun          20
Varanasi          20
Aurangabad        20
Agra              20
Mangalore         20
Vizag             20
Ludhiana          20
Allahabad         20
Bangalore         20
Mumbai            20
Goa               20
Chennai           20
Kanpur            20
Nashik            20
Patna             20
Nagpur            20
Indore            20
Vadodara          20
Puducherry        20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Mohali             1
Panchkula          1
Name: City, dtype: int64

In [81]:
data=data[data['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])]
data.shape

(7922, 15)

In [82]:
data['Address'][865]

'G 25/22, Main Road, 40 Feet, Molarband Extension, Badarpur Border, Faridabad'

In [83]:
data['Locality'].value_counts()

Connaught Place                   122
Rajouri Garden                     99
Shahdara                           87
Defence Colony                     86
Pitampura                          85
                                 ...
Tughlakabad Institutional Area      1
Kashmiri Gate                       1
Radisson Blu, Sector 18, Noida      1
K Hotel                             1
Dr. Zakir Hussain Marg              1
Name: Locality, Length: 457, dtype: int64

In [84]:
data['Locality Verbose'].value_counts()

Connaught Place, New Delhi                     122
Rajouri Garden, New Delhi                       99
Shahdara, New Delhi                             87
Defence Colony, New Delhi                       86
Pitampura, New Delhi                            85
                                              ...
IBIS Hotel, Golf Course Road, Gurgaon            1
Park Plaza, Sector 21, Faridabad, Faridabad      1
ARSS Mall, Paschim Vihar, New Delhi              1
Radisson Blu, Sector 18, Noida, Noida            1
Sector 57, Noida                                 1
Name: Locality Verbose, Length: 492, dtype: int64

In [85]:
data['Cuisines']

865     Chinese, Fast Food, Bakery
866          North Indian, Chinese
867                   North Indian
868                   North Indian
869                         Bakery
                   ...
9108         North Indian, Chinese
9109                     Fast Food
9110                     Fast Food
9111         North Indian, Chinese
9112          Raw Meats, Fast Food
Name: Cuisines, Length: 7922, dtype: object

In [86]:
data.groupby('Cuisines').mean()

,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
Cuisines,,,,,,
Afghani,77.145669,28.507631,512.500000,1.750000,0.725000,9.750000
"Afghani, Mughlai, Chinese",77.245796,28.558387,500.000000,2.000000,0.000000,2.000000
"Afghani, North Indian",77.045289,28.439285,900.000000,2.000000,0.000000,0.000000
"Afghani, North Indian, Pakistani, Arabian",77.266754,28.659755,500.000000,2.000000,0.000000,3.000000
American,77.222452,28.564240,666.666667,1.666667,2.066667,58.166667
...,...,...,...,...,...,...
"Tibetan, Street Food",77.374547,28.581684,100.000000,1.000000,0.000000,1.000000
Turkish,77.187034,28.535345,600.000000,2.000000,2.950000,151.000000
"Turkish, Arabian, Moroccan, Lebanese",0.000000,0.000000,400.000000,1.000000,0.000000,0.000000
"Turkish, Mediterranean, Middle Eastern",77.238697,28.537128,2000.000000,4.000000,4.300000,43.000000
Vietnamese,77.208506,28.551446,1000.000000,3.000000,4.000000,83.000000

In [87]:
data.groupby('Cuisines').mean()['Average Cost for two'].sort_values(ascending=False)

Cuisines
Asian, Japanese, Korean, Thai, Chinese             7000.0
North Indian, Chinese, South Indian, Italian       6000.0
Malaysian, Thai, Kerala, Vietnamese, Sri Lankan    6000.0
Chinese, Italian, Continental, North Indian        5000.0
Mediterranean, European                            5000.0
                                                    ...
Awadhi, Mughlai                                     100.0
North Indian, Beverages                             100.0
Mithai, South Indian, Chinese, Street Food          100.0
Bakery, Pizza                                       100.0
Beverages, Street Food                               50.0
Name: Average Cost for two, Length: 1156, dtype: float64

In [88]:
avg_price=data.groupby('Cuisines').mean()['Average Cost for two'].reset_index()
avg_price

                                       Cuisines  Average Cost for two
0                                       Afghani            512.500000
1                     Afghani, Mughlai, Chinese            500.000000
2                         Afghani, North Indian            900.000000
3     Afghani, North Indian, Pakistani, Arabian            500.000000
4                                      American            666.666667
...                                         ...                   ...
1151                       Tibetan, Street Food            100.000000
1152                                    Turkish            600.000000
1153       Turkish, Arabian, Moroccan, Lebanese            400.000000
1154     Turkish, Mediterranean, Middle Eastern           2000.000000
1155                                 Vietnamese           1000.000000

[1156 rows x 2 columns]

In [89]:
data=data.merge(avg_price, on='Cuisines')
data.head(2)

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two_x,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Average Cost for two_y
0,Faridabad,"G 25/22, Main Road, 40 Feet, Molarband Extensi...",Badarpur Border,"Badarpur Border, Faridabad",77.306640,28.490059,"Chinese, Fast Food, Bakery",250,No,No,1,2.9,Orange,Average,4,375.0
1,New Delhi,"Shop 3, Plot 1161, Opposite Old Sabji Mandi, K...",Narela,"Narela, New Delhi",77.049525,28.806199,"Chinese, Fast Food, Bakery",500,No,No,2,0.0,White,Not rated,0,375.0

In [90]:
data.rename(columns={'Average Cost for two_y':'Cuisine','Average Cost for two_x':'target'}, inplace=True)
data.head(2)

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisine
0,Faridabad,"G 25/22, Main Road, 40 Feet, Molarband Extensi...",Badarpur Border,"Badarpur Border, Faridabad",77.306640,28.490059,"Chinese, Fast Food, Bakery",250,No,No,1,2.9,Orange,Average,4,375.0
1,New Delhi,"Shop 3, Plot 1161, Opposite Old Sabji Mandi, K...",Narela,"Narela, New Delhi",77.049525,28.806199,"Chinese, Fast Food, Bakery",500,No,No,2,0.0,White,Not rated,0,375.0

In [91]:
data.columns

Index(['City', 'Address', 'Locality', 'Locality Verbose', 'Longitude',
       'Latitude', 'Cuisines', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [92]:
data.drop(columns=['Address','Locality','Locality Verbose','Cuisines'],inplace=True)

In [93]:
data.head(2)

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,250,No,No,1,2.9,Orange,Average,4,375.0
1,New Delhi,77.049525,28.806199,500,No,No,2,0.0,White,Not rated,0,375.0

In [94]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [95]:
data

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,250,No,No,1,2.9,Orange,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,No,No,2,0.0,White,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,No,No,2,2.8,Orange,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,No,No,1,0.0,White,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,Yes,No,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,Yes,No,4,2.2,Red,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,No,No,1,3.0,Orange,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,No,Yes,1,3.5,Yellow,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,Yes,No,3,0.0,White,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,No,No,1,2.0,Red,Poor,161,450.000000

In [96]:
data['Has Table booking'].replace("No",0,inplace=True)
data['Has Table booking'].replace("Yes",1,inplace=True)

In [97]:
data

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,250,0,No,1,2.9,Orange,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,No,2,0.0,White,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,No,2,2.8,Orange,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,No,1,0.0,White,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,No,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,1,No,4,2.2,Red,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,0,No,1,3.0,Orange,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,0,Yes,1,3.5,Yellow,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,1,No,3,0.0,White,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,0,No,1,2.0,Red,Poor,161,450.000000

In [98]:
data['Has Table booking'].value_counts()

0    6876
1    1046
Name: Has Table booking, dtype: int64

In [99]:
data['Has Online delivery'].replace("No",0,inplace=True)
data['Has Online delivery'].replace("Yes",1,inplace=True)
data

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,250,0,0,1,2.9,Orange,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,0,2,0.0,White,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,0,2,2.8,Orange,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,0,1,0.0,White,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,0,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,1,0,4,2.2,Red,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,0,0,1,3.0,Orange,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,0,1,1,3.5,Yellow,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,1,0,3,0.0,White,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,0,0,1,2.0,Red,Poor,161,450.000000

In [100]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [101]:
data['Price range'].value_counts()

1    4221
2    2583
3     814
4     304
Name: Price range, dtype: int64

In [102]:
data['Rating color'].value_counts()

Orange        3571
White         2137
Yellow        1580
Green          413
Red            178
Dark Green      43
Name: Rating color, dtype: int64

In [103]:
data['Rating text'].value_counts()

Average      3571
Not rated    2137
Good         1580
Very Good     413
Poor          178
Excellent      43
Name: Rating text, dtype: int64

In [104]:
#correlation between numeric columns
data.corr()

,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes,Cuisine
Longitude,1.000000,0.997829,0.071752,0.059417,0.138671,0.083845,0.224523,0.071641,0.048805
Latitude,0.997829,1.000000,0.070993,0.059974,0.138488,0.083131,0.224383,0.071598,0.048014
target,0.071752,0.070993,1.000000,0.642966,0.076953,0.847985,0.328440,0.299089,0.808274
Has Table booking,0.059417,0.059974,0.642966,1.000000,0.074300,0.658627,0.248363,0.223811,0.563860
Has Online delivery,0.138671,0.138488,0.076953,0.074300,1.000000,0.188798,0.341197,0.123734,0.063178
Price range,0.083845,0.083131,0.847985,0.658627,0.188798,1.000000,0.370212,0.325602,0.720934
Aggregate rating,0.224523,0.224383,0.328440,0.248363,0.341197,0.370212,1.000000,0.291076,0.267418
Votes,0.071641,0.071598,0.299089,0.223811,0.123734,0.325602,0.291076,1.000000,0.274963
Cuisine,0.048805,0.048014,0.808274,0.563860,0.063178,0.720934,0.267418,0.274963,1.000000

In [105]:
#correlation with Target
data.corr()['target']

Longitude              0.071752
Latitude               0.070993
target                 1.000000
Has Table booking      0.642966
Has Online delivery    0.076953
Price range            0.847985
Aggregate rating       0.328440
Votes                  0.299089
Cuisine                0.808274
Name: target, dtype: float64

In [106]:
data.drop(columns=['Rating color','Has Online delivery'],inplace=True)

In [107]:
data

,City,Longitude,Latitude,target,Has Table booking,Price range,Aggregate rating,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,250,0,1,2.9,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,2,0.0,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,2,2.8,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,1,0.0,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,3,0.0,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,1,4,2.2,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,0,1,3.0,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,0,1,3.5,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,1,3,0.0,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,0,1,2.0,Poor,161,450.000000

In [108]:
#Extracting Input and Output

In [109]:
y=data['target'].values
y

array([ 250,  500,  500, ...,  450, 1000,  450], dtype=int64)

In [110]:
input1=data.drop(columns=['target'])
input1

,City,Longitude,Latitude,Has Table booking,Price range,Aggregate rating,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,0,1,2.9,Average,4,375.000000
1,New Delhi,77.049525,28.806199,0,2,0.0,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,0,2,2.8,Average,16,594.303797
3,Faridabad,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1,3,0.0,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,1,4,2.2,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,0,1,3.0,Average,10,200.000000
7919,Noida,77.364833,28.597103,0,1,3.5,Good,105,450.000000
7920,Noida,77.323213,28.567751,1,3,0.0,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,0,1,2.0,Poor,161,450.000000

In [111]:
X=input1.iloc[:,:].values
X

array([['Faridabad', 77.3066401, 28.4900591, ..., 'Average', 4, 375.0],
       ['New Delhi', 77.04952508, 28.80619877, ..., 'Not rated', 0,
        375.0],
       ['Faridabad', 77.304776, 28.490156699999996, ..., 'Average', 16,
        594.3037974683544],
       ...,
       ['Noida', 77.3648332, 28.5971027, ..., 'Good', 105, 450.0],
       ['Noida', 77.32321292, 28.567750899999997, ..., 'Not rated', 0,
        1000.0],
       ['Noida', 77.32530809999999, 28.5671503, ..., 'Poor', 161, 450.0]],
      dtype=object)

In [112]:
X.shape

(7922, 9)

In [113]:
y.shape

(7922,)

In [114]:
# Label Encoding : Changing columns from Category to Label
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [115]:
X[:,0]=encoder.fit_transform(X[:,0])
X[0]

array([0, 77.3066401, 28.4900591, 0, 1, 2.9, 'Average', 4, 375.0],
      dtype=object)

In [116]:
X[:,-3]=encoder.fit_transform(X[:,-3])
X[0]

array([0, 77.3066401, 28.4900591, 0, 1, 2.9, 0, 4, 375.0], dtype=object)

In [117]:
# 1 Hot Encoder : No. of categories to no. of columns
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])

In [118]:
# One Hot Encoder
X=oencoder.fit_transform(X).toarray()
X.shape

(7922, 12)

In [119]:
X=X[:,1:]
X.shape

(7922, 11)

In [120]:
oencoder1=OneHotEncoder(categorical_features=[-3])
X=oencoder1.fit_transform(X).toarray()
X.shape

(7922, 16)

In [121]:
# deleting rows and columns from middle
X=np.delete(X,-3,1)
X.shape

(7922, 15)

In [122]:
X[0]

array([  1.       ,   0.       ,   0.       ,   0.       ,   0.       ,
         0.       ,   0.       ,   0.       ,   0.       ,  77.3066401,
        28.4900591,   0.       ,   1.       ,   4.       , 375.       ])

In [123]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [124]:
X_train.shape

(6337, 15)

In [125]:
y_train.shape

(6337,)

In [126]:
X_test.shape

(1585, 15)

In [127]:
y_test.shape

(1585,)

In [128]:
regressor=LinearRegression()

In [129]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [130]:
y_pred=regressor.predict(X_test)
y_pred

array([ 246.09707175, 1563.94056684,  940.66409013, ..., 1842.98447662,
        231.51015775,  756.29115695])

In [131]:
y_pred.shape

(1585,)

In [132]:
r2_score(y_test,y_pred)

0.7799967013928073